@font-face {
  font-family: 'GT Walsheim';
  src: url("./assets/fonts/GT-Walsheim-Regular.woff2") format("woff2"), url("./assets/fonts/GT-Walsheim-Regular.woff") format("woff");
  font-weight: normal; }

@font-face {
  font-family: 'GT Walsheim';
  src: url("./assets/fonts/GT-Walsheim-Regular-Oblique.woff2") format("woff2"), url("./assets/fonts/GT-Walsheim-Regular-Oblique.woff") format("woff");
  font-style: oblique;
  font-weight: normal; }

@font-face {
  font-family: 'GT Walsheim';
  src: url("./assets/fonts/GT-Walsheim-Bold.woff2") format("woff2"), url("./assets/fonts/GT-Walsheim-Bold.woff") format("woff");
  font-weight: bold; }

@font-face {
  font-family: 'GT Walsheim';
  src: url("./assets/fonts/GT-Walsheim-Bold-Oblique.woff2") format("woff2"), url("./assets/fonts/GT-Walsheim-Bold-Oblique.woff") format("woff");
  font-weight: bold;
  font-style: oblique; }

html, body {
  font-family: 'GT Walsheim';
  font-size: 20px;
  line-height: 1.3em;
  font-weight: normal;
  line-height: 1.3em;
  color: black;
  min-height: 200%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; }
  @media (max-width: 992px) {
    html, body {
      content: 'lg'; } }
  @media (max-width: 768px) {
    html, body {
      content: 'md'; } }
  @media (max-width: 576px) {
    html, body {
      content: 'sm'; } }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1, h2, h3, h4, h5 {
  font-weight: normal;
  line-height: 1.3em;
  margin: 0; }

h1 {
  font-size: 49px;
  line-height: 1.3em; }
  @media (max-width: 768px) {
    h1 {
      font-size: 35px;
      line-height: 1.3em; } }
  @media (max-width: 576px) {
    h1 {
      font-size: 20px;
      line-height: 1.3em; } }

h2 {
  font-size: 35px;
  line-height: 1.3em; }
  @media (max-width: 768px) {
    h2 {
      font-size: 20px;
      line-height: 1.3em; } }
  @media (max-width: 576px) {
    h2 {
      font-size: 15px;
      line-height: 1.3em; } }

h3 {
  font-size: 20px;
  line-height: 1.3em; }
  @media (max-width: 768px) {
    h3 {
      font-size: 15px;
      line-height: 1.3em; } }

h4 {
  font-size: 15px;
  line-height: 1.3em; }
  @media (max-width: 768px) {
    h4 {
      font-size: 10px;
      line-height: 1.3em; } }

h5 {
  font-size: 10px;
  line-height: 1.3em; }

a {
  text-decoration: none;
  display: inline;
  font-weight: normal;
  color: black;
  text-shadow: 1px 1px transparent, -1px 1px transparent, -1px -1px transparent, 1px -1px transparent;
  background-image: -webkit-linear-gradient(left, black 100%, transparent 100%);
  background-image: -o-linear-gradient(left, black 100%, transparent 100%);
  background-image: linear-gradient(90deg, black 100%, transparent 100%);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 1px; }
  a:hover {
    text-decoration: none; }

p {
  margin: 0 0 2em 0; }
  p:last-of-type {
    margin: 0; }

.white {
  color: white; }

.black {
  color: black; }

#intro {
  width: 100%;
  min-height: 100vh; }
  #intro p {
    margin: 0; }

.row {
  width: 100%;
  margin: auto; }

header {
  width: 100%;
  padding: 50px 0;
  background: white;
  z-index: 100;
  position: relative;
  z-index: 100; }
  @media (max-width: 992px) {
    header {
      padding: 30px 0; } }
  @media (max-width: 768px) {
    header {
      padding: 20px 0; } }
  header .row {
    -webkit-box-align: center;
            align-items: center; }
  header .container-fluid {
    padding: 0; }
  header .col-logo, header .col-nav {
    font-size: 20px;
    line-height: 1.3em; }
    header .col-logo .inner, header .col-nav .inner {
      padding: 0 60px; }
      @media (max-width: 992px) {
        header .col-logo .inner, header .col-nav .inner {
          padding: 0 5px; } }
    @media (max-width: 992px) {
      header .col-logo, header .col-nav {
        font-size: 15px;
        line-height: 1.3em; } }
    @media (max-width: 576px) {
      header .col-logo, header .col-nav {
        font-size: 10px;
        line-height: 1.3em; } }
  header .col-logo .container {
    display: table;
    margin: auto; }
  header .col-logo svg {
    width: 100%;
    height: auto;
    display: table;
    position: relative;
    overflow: visible !important; }
  header .col-nav {
    display: none !important;
    padding: 0; }
    @media (max-width: 576px) {
      header .col-nav {
        display: block !important;
        visibility: hidden;
        padding: 15px 15px 0 15px; } }
    header .col-nav .container {
      height: 100%;
      padding: 0 60px; }
      @media (max-width: 992px) {
        header .col-nav .container {
          padding: 0 5px; } }
      @media (max-width: 768px) {
        header .col-nav .container {
          padding: 0 5px; } }
    header .col-nav a {
      text-shadow: none;
      background-image: none; }
    header .col-nav .col {
      padding-right: 0;
      display: -webkit-box;
      display: flex;
      align-content: center; }
      header .col-nav .col a {
        text-shadow: none;
        background-image: none; }
      @media (max-width: 576px) {
        header .col-nav .col {
          margin: 0;
          padding: 0; } }
    header .col-nav form {
      display: table;
      position: relative; }
      header .col-nav form input {
        width: calc(100% - 1.5em);
        background: white;
        border: solid black;
        border-width: 0 0 1px 0;
        border-radius: 0;
        padding: 0;
        font-size: 20px;
        line-height: 1.3em; }
        @media (max-width: 992px) {
          header .col-nav form input {
            font-size: 15px;
            line-height: 1.3em; } }
        @media (max-width: 576px) {
          header .col-nav form input {
            font-size: 10px;
            line-height: 1.3em; } }
      header .col-nav form svg {
        width: 1em;
        height: 1em;
        position: absolute;
        right: 0;
        top: calc(50% - .5em);
        fill: black; }
      @media (max-width: 576px) {
        header .col-nav form {
          width: 100%; }
          header .col-nav form span, header .col-nav form input {
            width: calc(100% - 1.5em); } }
    @media (max-width: 768px) {
      header .col-nav {
        width: 100%; } }
  header.aligned .col-lg {
    margin: 0; }
  header.fixed {
    position: fixed;
    left: 0;
    top: 0; }
    header.fixed .col-nav {
      opacity: 1;
      display: block !important;
      visibility: visible !important; }
  header:not(.fixed) .col-logo {
    width: auto;
    max-width: none;
    -webkit-box-flex: 0;
            flex: 0 0 auto; }

main {
  width: 100%;
  position: relative; }
  main .wall {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100; }
    @media (max-width: 576px) {
      main .wall {
        display: none; } }
  main .row .col .inner-content p:nth-child(3n+1) a {
    text-shadow: 1px 1px inherit, -1px 1px inherit, -1px -1px inherit, 1px -1px inherit;
    background-image: -webkit-linear-gradient(left, #015fff 100%, transparent 100%);
    background-image: -o-linear-gradient(left, #015fff 100%, transparent 100%);
    background-image: linear-gradient(90deg, #015fff 100%, transparent 100%);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 1px; }
    main .row .col .inner-content p:nth-child(3n+1) a:hover {
      color: #015fff; }
  main .row .col .inner-content p:nth-child(3n+2) a {
    text-shadow: 1px 1px inherit, -1px 1px inherit, -1px -1px inherit, 1px -1px inherit;
    background-image: -webkit-linear-gradient(left, #fa453c 100%, transparent 100%);
    background-image: -o-linear-gradient(left, #fa453c 100%, transparent 100%);
    background-image: linear-gradient(90deg, #fa453c 100%, transparent 100%);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 1px; }
    main .row .col .inner-content p:nth-child(3n+2) a:hover {
      color: #fa453c; }
  main .row .col .inner-content p:nth-child(3n+3) a {
    text-shadow: 1px 1px inherit, -1px 1px inherit, -1px -1px inherit, 1px -1px inherit;
    background-image: -webkit-linear-gradient(left, #23cc0e 100%, transparent 100%);
    background-image: -o-linear-gradient(left, #23cc0e 100%, transparent 100%);
    background-image: linear-gradient(90deg, #23cc0e 100%, transparent 100%);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 1px; }
    main .row .col .inner-content p:nth-child(3n+3) a:hover {
      color: #23cc0e; }
  main .row .col .container {
    width: 100%;
    padding: 0;
    display: block; }
  main .row .col .col {
    padding: 0 37px; }
    @media (max-width: 992px) {
      main .row .col .col {
        padding: 0 20px; } }
    @media (max-width: 768px) {
      main .row .col .col {
        padding: 0 15px; } }
  main .row .col .inner-content {
    padding: 75px 38px; }
    @media (max-width: 992px) {
      main .row .col .inner-content {
        padding: 50px 30px; } }
    @media (max-width: 768px) {
      main .row .col .inner-content {
        padding: 15px 0; } }
    main .row .col .inner-content a {
      color: white; }
    main .row .col .inner-content .row {
      margin-bottom: 50px; }
    main .row .col .inner-content .cell {
      margin-bottom: 50px; }
      main .row .col .inner-content .cell .soon::after {
        content: '*';
        color: #23cc0e; }
      main .row .col .inner-content .cell.soon {
        color: #23cc0e; }
        main .row .col .inner-content .cell.soon h3 {
          display: inline; }
        main .row .col .inner-content .cell.soon::before {
          content: '*';
          color: #23cc0e;
          display: inline; }
    main .row .col .inner-content.fixed {
      position: fixed;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch; }
    @media (max-width: 768px) {
      main .row .col .inner-content .col-12 {
        margin-bottom: 20px; }
      main .row .col .inner-content .cell {
        margin-bottom: 10px; }
        main .row .col .inner-content .cell h3 {
          margin-bottom: 0 !important; } }
  main .row .col.left, main .row .col.right {
    padding: 0; }
  main .row .col.left {
    background: #e2edff; }
    main .row .col.left .inner-content strong {
      text-transform: uppercase;
      color: black;
      font-size: 15px;
      line-height: 1.3em; }
    main .row .col.left .inner-content a {
      display: inline;
      color: black;
      text-shadow: 1px 1px #e2edff, -1px 1px #e2edff, -1px -1px #e2edff, 1px -1px #e2edff;
      background-image: -webkit-linear-gradient(left, black 100%, transparent 100%);
      background-image: -o-linear-gradient(left, black 100%, transparent 100%);
      background-image: linear-gradient(90deg, black 100%, transparent 100%);
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: 100% 1px; }
  main .row .col.right {
    background: #015fff;
    color: white; }
    main .row .col.right .inner-content a {
      display: inline;
      color: white;
      text-shadow: 1px 1px #015fff, -1px 1px #015fff, -1px -1px #015fff, 1px -1px #015fff;
      background-image: -webkit-linear-gradient(left, white 100%, transparent 100%);
      background-image: -o-linear-gradient(left, white 100%, transparent 100%);
      background-image: linear-gradient(90deg, white 100%, transparent 100%);
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: 100% 1px; }
    main .row .col.right .inner-content h2 {
      margin-bottom: 15px; }
    main .row .col.right .inner-content h3 {
      margin-bottom: 10px; }
    main .row .col.right .inner-content h4:nth-of-type(2) {
      margin-top: 10px; }
    main .row .col.right footer {
      background-color: black;
      color: white; }
      main .row .col.right footer .inner-content .row {
        margin-bottom: 0; }
      main .row .col.right footer .inner-content a {
        color: white;
        text-shadow: none;
        background-image: none; }
        main .row .col.right footer .inner-content a:hover {
          color: white;
          text-shadow: 1px 1px black, -1px 1px black, -1px -1px black, 1px -1px black;
          background-image: -webkit-linear-gradient(left, white 100%, transparent 100%);
          background-image: -o-linear-gradient(left, white 100%, transparent 100%);
          background-image: linear-gradient(90deg, white 100%, transparent 100%);
          background-position: bottom;
          background-repeat: no-repeat;
          background-size: 100% 1px; }
      main .row .col.right footer .credits.not-sm {
        margin-top: 15px; }
      main .row .col.right footer .social h4 {
        position: relative; }
        main .row .col.right footer .social h4 svg {
          width: 1em;
          height: 1em;
          display: inline;
          fill: white; }
      @media (max-width: 768px) {
        main .row .col.right footer .col-12:not(:last-of-type) {
          margin-bottom: 20px; } }

.only-sm {
  display: none; }

@media (max-width: 576px) {
  .not-sm {
    display: none; }
  .only-sm {
    display: block; } }

body::before {
  display: none; }
  @media (min-width: 0) {
    body::before {
      content: 'xs'; } }
  @media (max-width: 576px) {
    body::before {
      content: 'sm'; } }
  @media (max-width: 768px) {
    body::before {
      content: 'md'; } }
  @media (max-width: 992px) {
    body::before {
      content: 'lg'; } }
