$light: white;
$lightBlue: #e2edff;
$darkBlue: #015fff;
$red: #fa453c;
$green: #23cc0e;

$xsWidth: 0;
$smWidth: 576px;
$mdWidth: 768px;
$lgWidth: 992px;
$xlWidth: 1200px;

$xxsGap: 5px;
$xsGap: 10px;
$smGap: 15px;
$mdGap: 20px;
$lgGap: 50px;
$xlGap: 100px;

$baseText: 20px;
$xsText: 10px;
$smText: 15px;
$mdText: 35px;
$lgText: 49px;

@mixin xs {
	@media (min-width: #{$xsWidth}) {
		@content;
	}
}

@mixin sm {
	@media (max-width: #{$smWidth}) {
		@content;
	}
}

@mixin md {
	@media (max-width: #{$mdWidth}) {
		@content;
	}
}

@mixin lg {
	@media (max-width: #{$lgWidth}) {
		@content;
	}
}

@mixin underline($color, $bg) {
	text-shadow: 1px 1px $bg, -1px 1px $bg, -1px -1px $bg, 1px -1px $bg;
  background-image: linear-gradient(90deg, $color 100%, transparent 100%);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 1px;
}

@mixin nounderline() {
	text-shadow: none;
  background-image: none;
}

html, body {
	font-size: $baseText;
	font-weight: normal;
	line-height: 1.3em;
	color: black;
}
h1, h2, h3, h4, h5 {
	font-weight: normal;
	line-height: 1.3em;
	margin: 0;
}
h1 {
	font-size: $lgText;
	@include md {
	font-size: $mdText;	
	}
}
h2 {
	font-size: $mdText;
	@include md {
	font-size: $baseText;	
	}
}
h3 {
	font-size: $baseText;
	@include md {
	font-size: $smText;	
	}
}
h4 {
	font-size: $smText;
	@include md {
		font-size: $xsText;
	}
}
h5 {
	font-size: $xsText;
}
a {
	text-decoration: none;
  display: inline;
  font-weight: normal;
  color: black;
  @include underline(black, transparent);
  &:hover {
  	text-decoration: none;
  }
}
p {
	margin: 0 0 $lgGap 0;
	&:last-of-type {
		margin: 0;
	}
}
.white {
	color: $light;
}
.black {
	color: black;
}
#intro {
	width: 100%;
	min-height: 100vh;
	p {
		margin: 0;
	}
}
.row {
	width: 100%;
	margin: auto;
}
header {
	width: 100%;
	padding: $lgGap 0;
	background: $light;
	z-index: 100;
	position: relative;
	z-index: 100;
	@include md {
		padding: $xsGap 0;
	}
	.container-fluid {
		padding: 0;
	}
	.col-logo, .col-nav {
		@include sm {
			padding: 0 $xxsGap;
			font-size: $xsText;
			* {
				font-size: $xsText;
			}
		}
	}
	.col-logo {
		width: 100%;
		svg {
			width: 100%;
			height: auto;
			overflow: visible !important;
		}
	}
	.col-nav {
		display: none !important;
		@include md {
		  display: block !important;
		  opacity: 0;
		}
		nav {
			height: 100%;
			.col {
				text-align: center;
				padding-right: 0;
				a {
					@include nounderline();
				}
				&:first-of-type {
					padding: 0;
				}
				&:nth-of-type(2) {
					padding: 0 $xxsGap;
				}
				&:last-of-type {
					padding: 0;
				}
				@include md {
					text-align: left;
				}
			}
			form {
				display: table;
				margin: auto;
				position: relative;
				input {
					width: calc(100% - 1.5em);
					background: $light;
					border: solid black;
					border-width: 0 0 1px 0;
					padding: 0;
					position: absolute;
					left: 0;
					top: 0;
				}
				svg {
					width: 1em;
					height: 1em;
					position: absolute;
					right: 0;
					top: calc(50% - .5em);
					fill: black;
				}
				span {
					opacity: 0;
					padding-right: 1.5em;
				}
				@include sm {
					width: 100%;
					span,input {
						width: calc(100% - 1.5em);
					}
				}
			}
			@include sm {
				width: 100%;
				font-size: $smText;
			}
		}
	}
	&.aligned {
		.col-lg {
			margin: 0;
		}
	}
	&.fixed {
		position: fixed;
		left: 0;
		top: 0;
		.col-nav {
			opacity: 1;
			display: block !important;
		}
	}
}
main {
	width: 100%;
	.row .col .inner_content p {
		&:nth-child(3n+1) a {
			@include underline($darkBlue, inherit);
			&:hover {
				color: $darkBlue;
			}
		}
		&:nth-child(3n+2) a {
			@include underline($red, inherit);
			&:hover {
				color: $red;
			}
		}
		&:nth-child(3n+3) a {
			@include underline($green, inherit);
			&:hover {
				color: $green;
			}
		}
	}
	.row {
		.col {
			padding: 0;
			.inner_content {
				padding: $xlGap #{$xlGap - $smGap};
				@include lg {
					padding: $lgGap #{$lgGap - $mdGap};
				}
				@include md {
					padding: $mdGap #{$mdGap - $smGap};
				}
				a {
					color: $light;
				}
				.row { 
					margin-bottom: $lgGap;
				}
				.cell {
					margin-bottom: $lgGap;
					.soon::after {
						content: '*';
						color: $green;
					}
				}
				@include md {
					.col-12 {
						margin-bottom: $lgGap;
					}
					.cell {
						margin-bottom: $xsGap;
						h3 {
							margin-bottom: 0 !important;
						}
					}
				}
			}
			&.left {
				background: $lightBlue;
				.inner_content {
					.container {
						width: auto;
						display: table;
					}
					strong {
						text-transform: uppercase;
						color: black;
						font-size: $smText;
					}
					a {
						display: inline;
						color: black;
						@include underline(black, $lightBlue);
					}
				}
			}
			&.right {
				background: $darkBlue;
				color: $light;
				.inner_content {
					a {
						display: inline;
						color: $light;
						@include underline($light, $darkBlue);
					}
					h2 {
						margin-bottom: $smGap;
					}
					h3 {
						margin-bottom: $xsGap;
					}
					h4 {
						&:nth-of-type(2) {
							margin-top: $xsGap;
						}
					}
				}
			}
		}
		footer {
			background-color: black;
			color: $light;
			padding: $mdGap;
			.social {
				h4 {
					position: relative;
					svg {
						width: 1em;
						height: 1em;
						display: inline;
						fill: $light;
					}
				}
			}
			@include md {
				.col-12:not(:last-of-type) {
					margin-bottom: $mdGap;
				}
			}
		}
	}
}
body::before {
	display: none;
	@include xs {
		content: 'xs';
	}
	@include sm {
		content: 'sm';
	}
	@include md {
		content: 'md';
	}
	@include lg {
		content: 'lg';
	}
}